.App {
  text-align: center;
}

body{
  background-color: #B1D3B9;
}

.hero-image {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}